mixin header-catalog()
	ul.header__catalog.dropdown-menu
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Consumer goods
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Women&apos;s fashion and accessories
				li
					button.dropdown-item Men&apos;s fashion and accessories
				li
					button.dropdown-item Kids wear
				li
					button.dropdown-item Suitcases and bags
				li
					button.dropdown-item Sport and leisure
				li
					button.dropdown-item Stationery
				li
					button.dropdown-item Watches and garnishing
				li
					button.dropdown-item Toys and hobbies
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Electronics and equipment
			ul.dropdown-menu.p-0
				li
					button.dropdown-item 3D, VR and peripherals
				li
					button.dropdown-item TVs and panels
				li
					button.dropdown-item Audio and Hi-Fi equipment
				li
					button.dropdown-item Smartphones and gadgets
				li
					button.dropdown-item Laptops and computers
				li
					button.dropdown-item Photo and video
				li
					button.dropdown-item Automotive equipment
				li
					button.dropdown-item Cryptocurrency miners
				li
					button.dropdown-item Robots and drone aircraft
				li
					button.dropdown-item Health and care
				li
					button.dropdown-item Games and soft
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Domestic appliances
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Refrigerators
				li
					button.dropdown-item Air conditioners
				li
					button.dropdown-item Fireplaces and heaters
				li
					button.dropdown-item Ovens and hobs
				li
					button.dropdown-item Microwaves
				li
					button.dropdown-item Washing and drying machines
				li
					button.dropdown-item Dishwashers
				li
					button.dropdown-item Coffee makers and coffee machines
				li
					button.dropdown-item Electric kettles
				li
					button.dropdown-item Mixers and Blenders
				li
					button.dropdown-item Steamers and Multicookers
				li
					button.dropdown-item Electric grills
				li
					button.dropdown-item Irons and ironing systems
				li
					button.dropdown-item Vacuum cleaners and washers
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Power tools
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Drills and perforators
				li
					button.dropdown-item Screwdrivers
				li
					button.dropdown-item Grinders and circular saws
				li
					button.dropdown-item Sanders
				li
					button.dropdown-item Mills and jigsaws
				li
					button.dropdown-item Chainsaws and power saws
				li
					button.dropdown-item Compressors and pneumatic
				li
					button.dropdown-item Tool kits
				li
					button.dropdown-item Lawn mowers
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Cars and moto vehicles
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Cars
				li
					button.dropdown-item Motorcycles
				li
					button.dropdown-item All-terrain vehicles
				li
					button.dropdown-item House on wheels
				li
					button.dropdown-item Jet skis
				li
					button.dropdown-item Inflatable boats
				li
					button.dropdown-item Boat motors
				li
					button.dropdown-item Electric generators
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Services
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Advertising and promotion services
				li
					button.dropdown-item Construction services and repairs
				li
					button.dropdown-item Tourist services and service
				li
					button.dropdown-item Hotel booking
				li
					button.dropdown-item Flats and apartments for rent
				li
					button.dropdown-item Rental of houses and cottages
				li
					button.dropdown-item Car rental and service
				li
					button.dropdown-item Transport and courier services
				li
					button.dropdown-item Freelance and outsourcing
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Events and entertainment
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Conferences and meet-ups
				li
					button.dropdown-item Forums
				li
					button.dropdown-item Exhibitions
				li
					button.dropdown-item Seminars and online courses
				li
					button.dropdown-item Sports events
				li
					button.dropdown-item Concerts
				li
					button.dropdown-item Festivals
				li
					button.dropdown-item Other events
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Media
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Video courses and trainings
				li
					button.dropdown-item Video footages
				li
					button.dropdown-item Games
				li
					button.dropdown-item Audiobooks
				li
					button.dropdown-item Audio footages
				li
					button.dropdown-item Photos and images
				li
					button.dropdown-item Soft and licenses
		li.dropdown-submenu
			button.dropdown-item.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Gift cards and certificates
			ul.dropdown-menu.p-0
				li
					button.dropdown-item Flight tickets
				li
					button.dropdown-item Travel and tourism
				li
					button.dropdown-item Taxi and travel
				li
					button.dropdown-item Fuel cards
				li
					button.dropdown-item Food and Drinks
				li
					button.dropdown-item Electronics and equipment
				li
					button.dropdown-item Online shopping and retail
				li
					button.dropdown-item Restaurants and cafes
				li
					button.dropdown-item Clothes and shoes
				li
					button.dropdown-item Goods for kids
				li
					button.dropdown-item Sporting goods
				li
					button.dropdown-item Home and Kitchen
				li
					button.dropdown-item Perfumes and cosmetics
				li
					button.dropdown-item Jewelry
				li
					button.dropdown-item Health and beauty
				li
					button.dropdown-item Books
				li
					button.dropdown-item Gifts
				li
					button.dropdown-item Hobbies and leisure
				li
					button.dropdown-item Computer games
				li
					button.dropdown-item TV and music
				li
					button.dropdown-item Car goods
				li
					button.dropdown-item Accessories
