
mixin header()
	header.site-header
		.container-fluid
			a.site-logo(href='/')
				img(src=require('../assets/svg/logo.svg') alt='')
			.site-header-content
				.site-header-content-in
					.site-header-shown
						.site-header-search-container(style='float: left')
							form.site-header-search.closed
								input(type='text' placeholder='Search')
								button(type='submit')
									span.font-icon-search
								.overlay
						.dropdown.dropdown-lang
							button.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
								span.flag-icon.flag-icon-us
							.dropdown-menu.dropdown-menu-right
								.dropdown-menu-col
									a.dropdown-item(href='#')
										span.flag-icon.flag-icon-ru
										| &Rcy;&ucy;&scy;&scy;&kcy;&icy;&jcy;
									a.dropdown-item(href='#')
										span.flag-icon.flag-icon-de
										| Deutsch
						.dropdown.user-menu
							button#dd-user-menu.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
								svg.svg-inline--fa.fa-user-circle.fa-w-16.fa-lg(aria-hidden='true' data-prefix='fa' data-icon='user-circle' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512' data-fa-i2svg='')
									path(fill='currentColor' d='M8 256C8 119.033 119.033 8 256 8s248 111.033 248 248-111.033 248-248 248S8 392.967 8 256zm72.455 125.868C119.657 436.446 183.673 472 256 472s136.343-35.554 175.545-90.132c-3.141-26.99-22.667-49.648-49.538-56.366l-32.374-8.093C323.565 339.79 290.722 352 256 352s-67.565-12.21-93.634-34.591l-32.374 8.093c-26.87 6.718-46.396 29.376-49.537 56.366zM144 208c0 61.856 50.144 112 112 112s112-50.144 112-112S317.856 96 256 96s-112 50.144-112 112z')
								// <i class="fa fa-lg fa-user-circle"></i>
							.dropdown-menu.dropdown-menu-right(aria-labelledby='dd-user-menu' x-placement='bottom-end' style='position: absolute; transform: translate3d(37px, 30px, 0px); top: 0px; left: 0px; will-change: transform;')
								a.dropdown-item(href='/app/panel')
									span.font-icon.glyphicon.glyphicon-user
									| Profile
								a.dropdown-item(href='/app/account/1/cart')
									span.font-icon.glyphicon.glyphicon-shopping-cart
									| Cart
								.dropdown-divider
								a.dropdown-item(href='/app/logout')
									span.font-icon.glyphicon.glyphicon-log-out
									| Logout

