include ../components/header
include ../components/footer

doctype html
html(lang='ru')
	head
		meta(charset="UTF-8")
		title Document
	body.page
		+header()
		.page__content
			include catalog
		+footer()
