//@import 'vendor/flag-icon/flag-icon';
@import 'vendor/jscrollpane';
@import "bootstrap/bootstrap";
@import "partials/reset";
@import "partials/helpers";
//@import "partials/icons";
//@import "partials/fonts";
@import "lib/font-awesome/svg-with-js/css/fa-svg-with-js.css";
@import "vendor/slick";
//@import "vendor/slick-theme";
@import "partials/typography";
@import "partials/forms";
@import "partials/grids";
@import "partials/interface";
@import "partials/base";
@import "partials/side";
@import "partials/print";

@import "pages/raffles";
@import "pages/gallery";
@import "components/snippet";
@import "components/header";
@import "components/player";

.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	&__content {
		padding-top: 107px;
		display: flex;
		flex: 1;
	}
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-2dot4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}
@media (min-width: 540px) {
	.col-sm-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 720px) {
	.col-md-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 960px) {
	.col-lg-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 1140px) {
	.col-xl-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
@media (min-width: 1140px) {
	.col-xxl-2dot4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
